*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-shadow: inherit;
}

html {
    //always set root font size with percentages
    //this defines what 1rem is.
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}